@using ILibrary.AdminSide;
@{ SiteConfiguration siteConfiguration = new AdminHelper().GetSiteConfiguration(); }
<a name="footer"></a>
<footer class="c-layout-footer c-layout-footer-7">
    <div class="container">
        <div class="c-prefooter">
            <div class="c-body">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <ul class="c-links c-theme-ul">
                            <li>
                                <a href="#">About Jango</a>
                            </li>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Terms & Conditions</a>
                            </li>
                            <li>
                                <a href="#">Delivery</a>
                            </li>
                            <li>
                                <a href="#">Promotions</a>
                            </li>
                            <li>
                                <a href="#">News</a>
                            </li>
                        </ul>
                        <ul class="c-links c-theme-ul">
                            <li>
                                <a href="#">Blogs</a>
                            </li>
                            <li>
                                <a href="#">Projects</a>
                            </li>
                            <li>
                                <a href="#">Clients</a>
                            </li>
                            <li>
                                <a href="#">Services</a>
                            </li>
                            <li>
                                <a href="#">Features</a>
                            </li>
                            <li>
                                <a href="#">Stats</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="c-content-title-1 c-title-md">
                            <h3 class="c-title c-font-uppercase c-font-bold">Contact Us</h3>
                            <div class="c-line-left hide"></div>
                        </div>
                        <p class="c-address c-font-16">
                            @siteConfiguration.CompanyAddress
                            <br /> @siteConfiguration.CompanyCity, @siteConfiguration.CompanyCountry
                            <br /> Phone: @siteConfiguration.CompanyMobile
                            <br /> Fax: @siteConfiguration.CompanyMobile
                            <br /> Email:
                            <a href="mailto:@siteConfiguration.CompanyEmail">
                                <span class="c-theme-color">@siteConfiguration.CompanyEmail</span>
                            </a>

                        </p>
                    </div>
                </div>
            </div>
            <div class="c-line"></div>
            <div class="c-foot">
                <div class="row">
                    <div class="col-md-7">
                        <div class="c-content-title-1 c-title-md">
                            <h3 class="c-title c-font-uppercase c-font-bold">
                                About @siteConfiguration.CompanyFirstName
                                <span class="c-theme-font">@siteConfiguration.CompanyLastName</span>
                            </h3>
                            <div class="c-line-left hide"></div>
                        </div>
                        <p class="c-text c-font-16 c-font-regular">@siteConfiguration.CompanyNote</p>
                    </div>

                </div>
            </div>
            <div class="c-line"></div>
            <div class="c-head">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="c-left">
                            <div class="socicon">
                                <a href="@siteConfiguration.FaceBook" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover socicon-facebook tooltips" data-original-title="Facebook" data-container="body"></a>
                                <a href="@siteConfiguration.Twitter" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover socicon-twitter tooltips" data-original-title="Twitter" data-container="body"></a>
                                <a href="@siteConfiguration.WebSite" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover socicon-youtube tooltips" data-original-title="Youtube" data-container="body"></a>
                                <a href="@siteConfiguration.CompanySkype" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover socicon-tumblr tooltips" data-original-title="Tumblr" data-container="body"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="c-right">
                            <h3 class="c-title c-font-uppercase c-font-bold">Download Mobile App</h3>
                            <div class="c-icons">
                                <a href="#" class="c-font-30 c-font-green-1 socicon-btn socicon-android tooltips" data-original-title="Android" data-container="body"></a>
                                <a href="#" class="c-font-30 c-font-grey-3 socicon-btn socicon-apple tooltips" data-original-title="Apple" data-container="body"></a>
                                <a href="#" class="c-font-30 c-font-blue-3 socicon-btn socicon-windows tooltips" data-original-title="Windows" data-container="body"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-postfooter c-bg-dark-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 c-col">
                    <p class="c-copyright c-font-grey">
                        @DateTime.Now.Year &copy; @siteConfiguration.CompanyFirstName <span>@siteConfiguration.CompanyLastName</span>
                        <span class="c-font-grey-3">All Rights Reserved.</span>
                    </p>
                </div>
                <div class="col-md-6 col-sm-12 c-col">
                    <ul class="list-unstyled list-inline pull-right">
                        <li>
                            <img class="img-responsive" src="~/Content/assets/img/appimages/3.png" width="60" />
                        </li>
                        <li>
                            <img class="img-responsive" src="~/Content/assets/img/appimages/1.png" width="60" />
                        </li>
                        <li>
                            <img class="img-responsive" src="~/Content/assets/img/appimages/2.png" width="60" />
                        </li>
                        <li>
                            <img class="img-responsive" src="~/Content/assets/img/appimages/22.png" width="60" />
                        </li>
                        <li>
                            <img class="img-responsive" src="~/Content/assets/img/appimages/5.png" width="60" />
                        </li>
                        <li>
                            <img class="img-responsive" src="~/Content/assets/img/appimages/6.png" width="60" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END: LAYOUT/FOOTERS/FOOTER-7 -->
