@using ILibrary.Production

@{
    List<Product> p = ViewBag.SearchbyRequirment;
    ViewBag.Title = "Search Product";
}
<div class="row">
    @if (p.Count > 0)
    {
        foreach (var item in p)
        {
            <div class="col-md-3 col-sm-6 c-margin-b-20">
                <div class="c-content-product-2 c-bg-white c-border">
                    <div class="c-content-overlay">
                        @if (item.IsSale == true)
                        {
                            <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">Sale</div>
                        }
                        else if (item.IsDiscount)
                        {
                            <div class="c-label c-bg-blue c-font-uppercase c-font-white c-font-13 c-font-bold">Discount</div>
                        }
                        else
                        {

                        }

                        <div class="c-overlay-wrapper">
                            <div class="c-overlay-content">
                                <a href="~/Home/GetProduct/@item.Id" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                            </div>
                        </div>
                        @if (item.Images.Count > 0)
                        {
                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url(@item.Images.First().URL);"></div>
                        }
                        else
                        {
                            <img src="~/Content/assets/img/nophoto.png" />
                        }
                    </div>
                    <div class="c-info">
                        <p class="c-title c-font-16 c-font-slim">@item.Name</p>
                        <p class="c-price c-font-14 c-font-slim">

                            @if (item.IsDiscount == false && item.IsSale == false)
                            {
                                @item.RetailPrice<span>&nbsp;</span>
                            }
                            else if (item.IsDiscount == true)
                            {
                                @item.DiscountPrice<span>&nbsp;</span>
                                <span class="c-font-14 c-font-line-through c-font-red">@item.RetailPrice</span>

                            }
                            else if (item.IsSale == true)
                            {
                                @item.SalePrice
                                <span class="c-font-14 c-font-line-through c-font-red">@item.RetailPrice</span>

                            }

                        </p>
                    </div>
                    <div class="btn-group btn-group-justified" role="group">
                        <div class="btn-group c-border-top" role="group">
                            <a href="shop-product-wishlist.html" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
                        </div>
                        <div class="btn-group c-border-left c-border-top" role="group">
                            <a href="shop-cart.html" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div>No Product Found</div>
    }


</div>


