<!DOCTYPE html>

<html lang="en">

@RenderPage("~/Views/_Shared/_Header.cshtml")

<body class="c-layout-header-fixed c-layout-header-6-topbar">
    @RenderPage("~/Views/_Shared/_HomeNavBar.cshtml")
    @RenderPage("~/Views/_Shared/_BsModals.cshtml")
    <!-- BEGIN: PAGE CONTAINER -->
    <div class="c-layout-page">

        <div id="productBox" class="col-md-10">
            @RenderBody()
        </div>
    </div>
    <!-- END: PAGE CONTAINER -->
    <!-- BEGIN: LAYOUT/FOOTERS/FOOTER-7 -->
    @RenderPage("~/Views/_Shared/_FooterMenu.cshtml")
    <!-- BEGIN: LAYOUT/FOOTERS/GO2TOP -->
    <div class="c-layout-go2top">
        <i class="icon-arrow-up"></i>
    </div>
    <!-- END: LAYOUT/FOOTERS/GO2TOP -->
    <!-- BEGIN: LAYOUT/BASE/BOTTOM -->
    <!-- BEGIN: CORE PLUGINS -->
    [if lt IE 9]>
    @RenderPage("~/Views/_Shared/_Footer.cshtml")
    @RenderSection("ThemeScript", false)
    <script type="text/javascript">
      
    </script>
</body>
</html>
